<div class="row">
  <h5 class="title">
	<%== event.eventUrl() %>
	<% if( event.attr('award_value') ) { %><span class='badge'>+<%= event.award_sum() %></span><% } %>
  </h5>
  <div class="body" <%= applyMore() %>>
	<% list( event.attr('props.commits'), function( commit ) { %>
	<div>- <a href="<%= event.attr('url') %>"><%= commit.attr('sha').substring(0, 6) %></a> <%== commit.attr('message') %></div>		
	<% }) %>
  </div>
  <div class="clearfix"></div>	  
</div>

<!-- status -->
<div class="status row">
  <div class="metadata-container pull-right">
	<div class="event-metadata pull-right">
	  <small>
		<% if( event.getAuthorName() ) { %><a href="#"><%== event.getAuthorName() %></a> /<% } %>
		<%== prettifyTs( event.attr('origin_ts'), 'datetime' ) %>
		via <strong><a href="<%= event.attr('url') %>"><%= event.attr('feed') %></a></strong></small>
	</div>
  </div>
  <% if (event.attr('children').length) { %>
  <a class="expand-replies"><span class="icon"></span>Earlier (<%= event.attr('children').length %>)</a>
  <% } %>
  <ul class="tag-list nav">
	<%== renderEventTags( event ) %>
  </ul>

  <% if( isAdmin() ) { %>
  <!-- ADMIN -->
  <a href="#" class="expand-manage-bar"></a>	  
  <!-- /ADMIN -->
  <% } %>

  <div class="clearfix"></div>
</div>
