<ul class="digest-event-info unstyled">
  <% list( digest.followers._keys, function( key ) { %>
  <li class="total followers">
	<% if( digest.followers[key].length == 1 ) { %>
	<a href="http://twitter.com/<%= events[digest.followers[key][0]].attr('props.origin_author_name') %>"><%= events[digest.followers[key][0]].attr('props.origin_author_name') %></a> followed
	<% } else { %>
	<%= digest.followers[key].length %> people followed
	<% } %>
	
	<span class="popup">
	  <a href="http://twitter.com/<%= key %>">@<%= key %></a>
	  <% if( digest.followers[key].length != 1 ) { %>
	  <div>
		<span class="people-caret"></span>
		<% list( digest.followers[key], function( idx ) { %>
		<a href="http://twitter.com/<%= events[idx].attr('props.origin_author_name') %>"><%= events[idx].attr('props.origin_author_name') %></a><br>
		<% }) %>
	  </div>
	  <% } %>
	</span>	
  </li>
  <% }) %>

  <% list( digest.watchers._keys, function( key ) { %>
  <li class="total watchers">
	<% if( digest.watchers[key].length == 1 ) { %>
	<a href="http://github.com/bitovi/<%= events[digest.watchers[key][0]].attr('props.origin_author_name') %>"><%= events[digest.watchers[key][0]].attr('props.origin_author_name') %></a> started watching
	<% } else { %>
	<%= digest.watchers[key].length %> people started watching
	<% } %>
	
	<span class="popup">
	  <a href="http://github.com/bitovi/<%= key %>">@<%= key %></a>
	  <% if( digest.watchers[key].length != 1 ) { %>
	  <div>
		<span class="people-caret"></span>
		<% list( digest.watchers[key], function( idx ) { %>
		<a href="http://gitub.com/<%= events[idx].attr('props.origin_author_name') %>"><%= events[idx].attr('props.origin_author_name') %></a><br>
		<% }) %>
	  </div>
	  <% } %>
	</span>	
  </li>
  <% }) %>

  <% list( digest.forkers._keys, function( key ) { %>
  <li class="total forkers">
	<% if( digest.forkers[key].length == 1 ) { %>
	<a href="http://github.com/bitovi/<%= events[digest.forkers[key][0]].attr('props.origin_author_name') %>"><%= events[digest.forkers[key][0]].attr('props.origin_author_name') %></a> forked
	<% } else { %>
	<%= digest.forkers[key].length %> people forked
	<% } %>
	
	<span class="popup">
	  <a href="http://github.com/bitovi/<%= key %>">@<%= key %></a>
	  <% if( digest.forkers[key].length != 1 ) { %>
	  <div>
		<span class="people-caret"></span>
		<% list( digest.forkers[key], function( idx ) { %>
		<a href="http://gitub.com/<%= events[idx].attr('props.origin_author_name') %>"><%= events[idx].attr('props.origin_author_name') %></a><br>
		<% }) %>
	  </div>
	  <% } %>
	</span>	
  </li>  
  <% }) %>
  
</ul>

