<div class="row">
  <% if (event.attr('image_url')) { %>
  <img class="thumb" <%= event.attr('image_url') ? "src='" + event.attr('image_url') + "'" : "" %> alt="Thumb" />
  <% } %>
  <h5 class="title">
	<%== event.eventUrl() %>
	<% if( event.attr('award_value') ) { %><span class='badge'>+<%= event.award_sum() %></span><% } %>
  </h5>
  <div class="body" <%= applyMore() %>><%== event.attr('body') %></div>
  <div class="clearfix"></div>	  
</div>

<!-- status -->
<div class="status row">
  <div class="metadata-container">
	<div class="event-metadata pull-right">
	  <small>
		<% if( event.getAuthorName() ) { %><a href="#"><%== event.getAuthorName() %></a> /<% } %>
		<%== prettifyTs( event.attr('origin_ts'), 'datetime' ) %>
		via <strong><a href="<%= event.attr('url') %>"><%= event.attr('feed') %></a></strong></small>
	</div>
  </div>
  <% if (event.attr('children').length) { %>
  <a class="expand-replies"><span class="icon"></span>Earlier (<%= event.attr('children').length %>)</a>
  <% } %>
  <ul class="tag-list nav">
	<% can.each(event.attr('tags'), function( tag ) { %>
	<li class="tag-name <%= tag %>"><a href="#"><small><%= tag %></small></a></li>
	<% }) %>
  </ul>

  <% if( isAdmin() ) { %>
  <!-- ADMIN -->
  <a href="#" class="expand-manage-bar"></a>	  
  <!-- /ADMIN -->
  <% } %>

  <div class="clearfix"></div>
</div>
