<div class="row">

  <div class="twitter-profile-pic pull-left">
	<a href="https://twitter.com/<%= event.attr('props.origin_author_name') %>"><img src="<%= event.attr('props.origin_author_avatar_url') %>" alt="avatar" /></a>
  </div>
  
  <h5>
	<a href="#"><%== event.getAuthorName() %></a>
	<a href="http://twitter.com/<%= event.attr('props.origin_author_name') %>"><small>@<%= event.attr('props.origin_author_name') %></small></a>
  </h5>
  <div class="body"><%== event.attr('title') %></div>
  <div class="clearfix"></div>	  
</div>

<!-- status -->
<div class="status row">
  <div class="metadata-container pull-right">

	<div class="retweets-container pull-left">
	  <!--<img class='retweet-icon' src="/img/icon-retweet.png" />-->
	  <% list(event.children, function( child ) { %>
	  <a href='https://twitter.com/<%= event.attr('props.origin_author_name') %>'><img class='profile-icon' src='<%= event.attr('props.origin_author_avatar_url') %>'/></a>
	  <% }) %>
	</div>
	
	<div class="event-metadata pull-right">
	  <small><%== prettifyTs( event.attr('origin_ts'), 'datetime' ) %> via <strong><a href="<%= event.attr('url') %>"><%= event.attr('feed') %></a></strong></small>
	</div>
  </div>	  
  <ul class="tag-list nav">
	<% can.each(event.attr('tags'), function( tag ) { %>
	<li class="tag-name <%= tag %>"><a href="#"><small><%= tag %></small></a></li>
	<% }) %>
  </ul>

  <% if( isAdmin() ) { %>
  <!-- ADMIN -->
  <a href="#" class="expand-manage-bar"></a>	  
  <!-- /ADMIN -->
  <% } %>

  <div class="clearfix"></div>
</div>
