<% list(days, function( day ) { %>
<div class="day">

  <div class="sep-wrapper wrapper" style="height: 42px;">
	<div class="sep blue">
	  <h4 class="flag blue"><%== prettifyTs(day.date, "date") %></h4>
	</div>
  </div>

  <!-- DIGEST -->
  <div class="category-digest">
	<div class="truncated">
	  <% if( day.digest ) { %>
	  <%== digestPartial.render({events: events, digest: day.digest }) %>
	  <% } %>
	</div>
  </div>
  <!-- /DIGEST -->

  <% list(categories, function( category ) { %>
    <% if ( day[category] ) { %>
    <div class="category-<%= category %>">
	  <h3 class="<%= category %>-icon"><%= category %></h3>
	  <div class="truncated">
		<% list( day[category], function( idx ) { %>
		<%== eventPartial( events[idx].attr('tags') ).render({event: events[idx], eventChildrenPartial: eventChildrenPartial}) %>
		<% }) %>
	  </div>
    </div>
	<% } %>
  <% }) %>
  
  <% if( day.chat ) { %>
	<div class="feed-header">
	  <h3 class="irc-icon">Chat <a class="pull-right" href="http://webchat.freenode.net/?channels=canjs"><img src="/assets/images/icon-popout.png" alt="popout"></a></h3>
	</div>
	<div class="truncated irc-chat-container">
	  <% list(day['chat'], function( idx ) { %>
	  <div><span class="username"><%= events[idx].attr('actor') %></span>: <%= events[idx].attr('title') %></div>
	  <% }) %>
	</div>
  <% } %>
	
</div>
<% }) %>
