<div class="truncated code-events">
  <% for( var author in codeEvents ) { %>

  <h5 class="title">
	<%== codeEvents[author].author.attr('name') %>:
  </h5>

  <% for( var title in codeEvents[author].push_event ) { %>

  <h6 class="title"><%= title %></h6>

  <% list(codeEvents[author].push_event[title], function( event ) { %>
  <%== determineEventPartial(event.attr('tags')).render({event: event, eventChildrenPartial: eventChildrenPartial, projects: projects, categories: categories, visibleTags: visibleTags, orderChildrenBy: 'origin_ts', date: day.attr('date')}) %>
  <% }) %>

  <% } %>

  <% if( codeEvents[author].pull_request_event.length > 0 ) { %>
  <h6 class="title">Pull requests</h6>

  <% list(codeEvents[author].pull_request_event, function( event ) { %>
  <%== determineEventPartial(event.attr('tags')).render({event: event, eventChildrenPartial: eventChildrenPartial, projects: projects, categories: categories, visibleTags: visibleTags, orderChildrenBy: 'origin_ts', date: day.attr('date')}) %>
  <% }) %>
  <% } %>
  
  <% if( codeEvents[author].create_event.length > 0 ) { %>
  <h6 class="title">Create events</h6>
	 
  <% list(codeEvents[author].create_event, function( event ) { %>
  <%== determineEventPartial(event.attr('tags')).render({event: event, eventChildrenPartial: eventChildrenPartial, projects: projects, categories: categories, visibleTags: visibleTags, orderChildrenBy: 'origin_ts', date: day.attr('date')}) %>
  <% }) %>
  <% } %>

  <% } %>
</div>
