<div class="truncated code-events">
  <% for( var repo in codeEvents ) { %>

  <% for( var author in codeEvents[repo] ) { %>

  <h5 class="author"><%= codeEvents[repo][author].authorName %>:</h5>

  <% for( var title in codeEvents[repo][author].push_event ) { %>

  <% list(codeEvents[repo][author].push_event[title], function( event ) { %>
  <%== determineEventPartial(event.attr('tags')).render({event: event, eventChildEventPartial: eventChildEventPartial, eventChildrenPartial: eventChildrenPartial, projects: projects, categories: categories, visibleTags: visibleTags, orderChildrenBy: 'origin_ts', date: day.attr('date')}) %>
  <% }) %>
  
  <% } %>
  
  <% if( codeEvents[repo][author].pull_request_event.length > 0 ) { %>
  <h5 class="title">Pull requests</h5>

  <% list(codeEvents[repo][author].pull_request_event, function( event ) { %>
  <%== determineEventPartial(event.attr('tags')).render({event: event, eventChildEventPartial: eventChildEventPartial, eventChildrenPartial: eventChildrenPartial, projects: projects, categories: categories, visibleTags: visibleTags, orderChildrenBy: 'origin_ts', date: day.attr('date')}) %>
  <% }) %>
  <% } %>
  
  <% if( codeEvents[repo][author].create_event.length > 0 ) { %>
  <h5 class="title">Create events</h5>
	 
  <% list(codeEvents[repo][author].create_event, function( event ) { %>
  <%== determineEventPartial(event.attr('tags')).render({event: event, eventChildEventPartial: eventChildEventPartial, eventChildrenPartial: eventChildrenPartial, projects: projects, categories: categories, visibleTags: visibleTags, orderChildrenBy: 'origin_ts', date: day.attr('date')}) %>
  <% }) %>
  <% } %>

  <% if( codeEvents[repo][author].delete_event.length > 0 ) { %>
  <h5 class="title">Delete events</h5>
	 
  <% list(codeEvents[repo][author].create_event, function( event ) { %>
  <%== determineEventPartial(event.attr('tags')).render({event: event, eventChildEventPartial: eventChildEventPartial, eventChildrenPartial: eventChildrenPartial, projects: projects, categories: categories, visibleTags: visibleTags, orderChildrenBy: 'origin_ts', date: day.attr('date')}) %>
  <% }) %>
  <% } %>

  
  <% } %>
  <% } %>
</div>
