<div class="event list-element" <%= (el) -> el.data('eventObj', event)  %> >
  <% if (isAdmin()) { %>
  <div class="toolbar">
	<a href="#" class="delete-event close">&times;</a>
  </div>
  <% } %>

  <!-- upvotes -->
  <div class="span1 votes">
	<div class="uparrow"></div>
	<div class="count">
	  <%= event.attr('upvotes') %>
	</div>

	<div class="voteup-btn">
	  <span class="upvote-caret"></span>Vote up
	</div>

	<% if (!event.attr('props.thread_awarded') && isLoggedIn() && isAdmin()) { %>
	<div class="award-btn">
	  <div class="word"><span>Award</span></div>
	  <div class="caret-right"></div>
	  <div class="clearfix"></div>
	</div>
	<% } %>

	<div class="clearfix"></div>
  </div>

  <!-- content -->
  <div class="span7 content">


	<div class="row">
	  <% if (event.attr('image_url')) { %>
	  <img class="thumb" <%= event.attr('image_url') ? "src='" + event.attr('image_url') + "'" : "" %> alt="Thumb" />
	  <% } %>
	  <h5 class="title">
		<%== eventUrl( event ) %>
		
		<% if (event.attr('props.thread_awarded')) { %>
		<span class="awarded">Awarded</span>
		<% } %>

		<span class='badge'>+<%= event.attr('upvotes')*2 %></span>
	  </h5>
	  <div class="body" <%= applyMore() %>><%== event.attr('body') %></div>
	  <div class="clearfix"></div>	  
	</div>

	<!-- status -->
	<div class="status row">
	  <div class="metadata-container">
		<div class="event-metadata pull-right">
		  <small>
			<% if( getAuthorName( event ) ) { %><a href="#"><%== getAuthorName( event ) %></a> /<% } %>
			<%== formatTs( event, date ) %>
			via <strong><a href="<%= event.attr('url') %>"><%= event.attr('feed') %></a></strong></small>
		</div>
	  </div>
	  <% if (event.attr('children').length) { %>
	  <a class="expand-replies"><span class="icon"></span>Earlier (<%= event.attr('children').length %>)</a>
	  <% } %>
	  <ul class="tag-list nav">
		<%== renderEventTags( event, visibleTags ) %>
	  </ul>

	  <% if( isAdmin() ) { %>
	  <!-- ADMIN -->
	  <a href="#" class="expand-manage-bar"></a>	  
	  <!-- /ADMIN -->
	  <% } %>

	  <div class="clearfix"></div>
	</div>

	<% if( isAdmin() ) { %>
	<!-- ADMIN -->
	<div class="manage-bar row">
	  <ul class="nav">
		<% list(projects, function( project ) { %>
		<li data-tag="<%= project.attr('name') %>" class="tag-action present_remove"><a href="#" ><small><%= project.attr('name') %></small></a></li>
		<% }) %>
		<li class="dropdown">
		  <a class="dropdown-toggle" data-toggle="dropdown" href="#"><small><%= event.attr('category') %></small><b class="caret"></b></a>
		  <ul class="dropdown-menu">
			<% list(categories, function( category ) { %>
			<li class="category-action" data-category="<%= category.attr('name') %>"><a href="#"><%= category.attr('name') %></a></li>
			<% }) %>
		  </ul>
		</li>
	  </ul>
	  <input type="text" class="transfer-ownership typeahead" placeholder="Transfer ownership">
	</div>
	<!-- /ADMIN -->
	<% } %>

	<% if (event.attr('children').length) { %>
	<%== eventChildrenPartial.render({events: sortChildren(event.attr('children'), orderChildrenBy, 'desc'), eventChildEventPartial: eventChildEventPartial}) %>
	<% } %>

  </div>

  <div class="clearfix"></div>
</div>


