<div class="event list-element" <%= (el) -> el.data('eventObj', event)  %> >
  <% if (data.user.isAdmin()) { %>
  <div class="toolbar">
	<a href="#" class="delete-event close">&times;</a>
  </div>
  <% } %>

  <!-- upvotes -->
  <div class="span1 votes">
	<div class="uparrow"></div>
	<div class="count">
	  <%= event.attr('upvotes') %>
	</div>

	<div class="voteup-btn">
	  <span class="upvote-caret"></span>Vote up
	</div>

	<div class="clearfix"></div>
  </div>

  <!-- content -->
  <div class="span7 content">

	<div class="row">
	  <% if (event.attr('image_url')) { %>
	  <img class="thumb" <%= event.attr('image_url') ? "src='" + event.attr('image_url') + "'" : "" %> alt="Thumb" />
	  <% } %>
	  <h5 class="title">
		<%== eventUrl( event ) %>
		
		<span class='badge'>+<%= event.attr('upvotes')*2 %></span>
	  </h5>
	  <div class="body" <%= applyMore() %>><%== event.attr('body') %></div>
	  <div class="clearfix"></div>	  
	</div>

	<!-- status -->
	<div class="status row">
	  <div class="metadata-container">
		<div class="event-metadata pull-right">
		  <small>
			<% if( getAuthorName( event ) ) { %><%== getAuthorName( event ) %> /<% } %>
			<%== formatTs( event, date ) %>
			via <strong><a href="<%= event.attr('url') %>"><%= event.attr('feed') %></a></strong></small>
		</div>
	  </div>
	  <% if (event.attr('children').length) { %>
	  <a class="expand-replies"><span class="icon"></span>Earlier (<%= event.attr('children').length %>)</a>
	  <% } %>
	  <ul class="tag-list nav">
		<%== renderEventTags( event, data.visibleTags ) %>
	  </ul>

	  <% if( data.user.isAdmin() ) { %>
	  <!-- ADMIN -->
	  <a href="#" class="expand-manage-bar"></a>	  
	  <!-- /ADMIN -->
	  <% } %>

	  <div class="clearfix"></div>
	</div>

	<%== partials.manageBar.render({event: event, data: data}) %>

	<% if (event.attr('children').length) { %>
	<%== partials.eventChildren.render({events: sortChildren(event.attr('children'), orderChildrenBy, 'desc'), data: data, partials: partials}) %>
	<% } %>

  </div>

  <div class="clearfix"></div>
</div>


