<div class="reply-event row <%= type %> <%= isUpvoted(event.attr('id'), data.user.attr('upvoted_events')) %>" <%= (el) -> el.data('eventObj', event)  %> >

  <% if (event.attr('props.awarded_value') && event.attr('props.awarded_value') >= 0) { %>
  <div class="awarded-badge"><span>+<%= event.attr('props.awarded_value') %></span></div>
  <% } %>

  <% if (data.awardBtn && !event.attr('props.thread_awarded') && data.user.loggedIn() && data.user.isAdmin()) { %>
  <div class="award-btn">
	<a href="#"><span class="caret"></span>Award</a>
  </div>
  <% } %>

  <div class="votes vote-btn">
	<div class="uparrow"></div>
	<div class="count"><%= event.attr('upvotes') %></div>
  </div>

  <div class="body reply">

	<% if (type == 'commit') { %>
	<a href="<%= event.attr('url') %>"><%= event.attr('source_data.sha').substring(0, 6) %></a> - <%== event.attr('title') %>
	<% } else { %>

	<% if( event.attr('tags').indexOf('issues_event') >= 0 ) { %>
	Issue <%== event.attr('props.action') %>!
	<% } else { %>
	<% if( event.attr('body') ) { %>
	<%== event.attr('body') %>
	<% } else { %>
	<%== event.attr('title') %>	
	<% } %>
	<% } %>
	
	<% } %>

	<div class="event-metadata pull-right">
	  <%== event.attr('author.name') || event.attr('props.origin_author_name') %> / 
	  <%== prettifyTs( event.attr('origin_ts'), 'datetime' ) %>
	</div>

  </div> <!-- /.body -->

</div> <!-- /.reply-event -->
