<div class="event list-element <%= isAwarded(event) %> <%= isUpvoted(event.attr('id'), data.user.attr('upvoted_events')) %>" <%= (el) -> el.data('eventObj', event)  %> >

  <%== partials.toolbar.render({user: data.user}) %>

  <%== partials.upvote.render({event: event, user: data.user, award: true}) %>

  <!-- content -->
  <div class="span7 content">

	<div class="row">
	  <% if (event.attr('image_url')) { %>
	  <img class="thumb" <%= event.attr('image_url') ? "src='" + event.attr('image_url') + "'" : "" %> alt="Thumb" />
	  <% } %>
	  <h5 class="title">
		<%== eventUrl( event ) %>
		
		<% if (event.attr('props.thread_awarded')) { %>
		<span class="awarded">Awarded +<%= event.attr('upvotes')*2 %></span>
		<% } %>

		<% if( event.attr('upvotes') && !event.attr('props.thread_awarded')) { %><span class='badge'>+<%= event.attr('upvotes')*2 %></span><% } %>
	  </h5>
	  <div class="body" <%= applyMore() %>><%== event.attr('body') %></div>
	  <div class="clearfix"></div>	  
	</div>

	<%== partials.statusBar.render({event: event, user: data.user, visibleTags: data.visibleTags, date: date}) %>

	<%== partials.manageBar.render({event: event, data: data}) %>

	<% if (event.attr('children').length) { %>
	<%== partials.eventChildren.render({events: sortChildren(event.attr('children'), orderChildrenBy, 'desc'), partials: partials, data: can.extend(data, {awardBtn: true}) }) %>
	<% } %>

  </div>

  <div class="clearfix"></div>
</div>


