<div class="row">
  <div class="twitter-profile-pic pull-left">
	  <a href="<%= linkToTwitterProfile(event.attr('props.origin_author_name')) %>">
	  <img <%= event.attr('props.origin_author_avatar_url') ? "src='" + event.attr('props.origin_author_avatar_url') + "'" : "" %> alt="Avatar" />
	</a>
  </div>
  
  <h5 class="title">
	<%== getAuthorName( event ) %>
	<a href="<%= linkToTwitterProfile(event.attr('props.origin_author_name')) %>"><small>@<%= event.attr('props.origin_author_name') %></small></a>
  </h5>
  <div class="body"><%== event.attr('title') %></div>
  <div class="clearfix"></div>	  
</div>

<!-- status -->
<div class="status row">
  <div class="metadata-container pull-right">

	<% if( event.attr('children').length > 0) { %> 
	<div class="retweets-container">
	  <i class="icon-retweet"></i>
	  <% list(event.attr('children'), function( child ) { %>	
	  <a href='https://twitter.com/<%= child.attr('props.origin_author_name') %>'>
		<img class="profile-icon" <%= child.attr('props.origin_author_avatar_url') ? "src='" + child.attr('props.origin_author_avatar_url') + "'" : "" %> alt="Avatar" />
	  </a>
	  <% }) %>
	</div><!-- .rewtweets-container -->
	<% } %>
	
	<div class="event-metadata pull-right">
	  <small><%== formatTs( event, date ) %> via <strong><a href="<%= event.attr('url') %>"><%= event.attr('feed') %></a></strong></small>
	</div>
  </div>	  
  <ul class="tag-list nav">
	<%== renderEventTags( event, visibleTags ) %>
  </ul>

  <% if( isAdmin() ) { %>
  <!-- ADMIN -->
  <a href="#" class="expand-manage-bar"></a>	  
  <!-- /ADMIN -->
  <% } %>

  <div class="clearfix"></div>
</div>
