<div class="row">
  <% if (event.attr('image_url')) { %>
  <img class="thumb" <%= event.attr('image_url') ? "src='" + event.attr('image_url') + "'" : "" %> alt="Thumb" />
  <% } %>
  <h5 class="title"><%== eventUrl( event ) %></h5>
  <div class="location-time"><%= event.attr('props.location') %> / <%= prettifyTs(event.attr('props.scheduled_for'), 'datetime') %></div>
  <div class="body"><%== event.attr('body') %></div>
  <div class="clearfix"></div>	  
</div>

<!-- status -->
<div class="status row">
  <div class="metadata-container pull-right">
	<div class="event-metadata pull-right">
	  <small>
		<% if( getAuthorName( event ) ) { %><a href="#"><%== getAuthorName( event ) %></a> /<% } %>
		<%== prettifyTs( event.attr('origin_ts'), 'datetime' ) %>
		via <strong><a href="<%= event.attr('url') %>"><%= event.attr('feed') %></a></strong></small>
	</div>
  </div>
  <% if (event.attr('children').length) { %>
  <a class="expand-replies"><span class="icon"></span>Earlier (<%= event.attr('children').length %>)</a>
  <% } %>
  <ul class="tag-list nav">
	<%== renderEventTags( event, visibleTags ) %>
  </ul>

  <% if( isAdmin() ) { %>
  <!-- ADMIN -->
  <a href="#" class="expand-manage-bar"></a>	  
  <!-- /ADMIN -->
  <% } %>

  <div class="clearfix"></div>
</div>
