<% list( event.attr('children'), function( commit ) { %>

<div class="event list-element commit" <%= (el) -> el.data('eventObj', commit)  %> >  
  
  <!-- upvotes -->
  <div class="span1 votes">
	<div class="uparrow"></div>
	<div class="count">
	  <%= commit.attr('upvotes') %>
	</div>
	
	<div class="clearfix"></div>
  </div>

  <!-- content -->
  <div class="span7 content">

	<div class="row">

	  <div class="metadata-container pull-right">
		<div class="event-metadata pull-right">
		  <small>
			<%== formatTs( commit, date ) %>
			via <strong><a href="<%= commit.attr('url') %>"><%= commit.attr('feed') %></a></strong></small>
		</div>
	  </div>

	  <h5 class="title">
		<a href="<%= event.attr('url') %>">- <%= commit.attr('source_data.sha') && commit.attr('source_data.sha').substring(0, 6) %> <%== commit.attr('title') %></a>
	  </h5>

	  <div class="clearfix"></div>	  
	</div>

  </div>

  <div class="clearfix"></div>
</div>

<% }) %>
