<div class="truncated code-events">

  <h5 class="title"><%== eventUrl( event ) %></h5>
  
  <% list( event.attr('children'), function( commit ) { %>

  <div class="event list-element commit" <%= (el) -> el.data('eventObj', commit)  %> >  
	
	<!-- upvotes -->
	<div class="span1 votes">
	  <div class="uparrow"></div>
	  <div class="count">
		<%= commit.attr('upvotes') %>
	  </div>
	  
	  <div class="clearfix"></div>
	</div>

	<!-- content -->
	<div class="span7 content">

	  <div class="row">

		<h5 class="title">
		  - <%= commit.attr('source_data.sha') && commit.attr('source_data.sha').substring(0, 6) %> <%== commit.attr('title') %>
		</h5>

		<div class="clearfix"></div>	  
	  </div>

	</div>

	<div class="clearfix"></div>
  </div>

  <% }) %>

  <div class="status row" style="margin-left: 67px; margin-top: 5px;">
	<div class="metadata-container pull-right">
	  <div class="event-metadata pull-right"><small><%== formatTs( event, date ) %> via Github</small></div>
	</div>
	<ul class="tag-list nav">
	  <%== renderEventTags( event, data.visibleTags ) %>
	</ul>
  </div>

  <div class="clearfix"></div>
</div>
