<div class="event list-element" <%= (el) -> el.data('eventObj', event)  %> >
  <% if( isAdmin() ) { %>
  <div class="toolbar">
	<a href="#" class="delete-event close">&times;</a>
  </div>
  <% } %>
  
  <!-- upvotes -->
  <div class="span1 votes">
	<div class="uparrow"></div>
	<div class="count"><%= event.attr('upvotes') %></div>
	<div class="voteup "><span class="upvote-caret"></span>Vote up</div>
	<% if ( event.award_closed() ) { %><div class="awarded">awarded</div><% } %>
	<div class="clearfix"></div>
  </div>

  <!-- content -->
  <div class="span7 content">

	<!-- title & body -->
	<%== determineEventPartial( event.attr('tags') ).render({event: event, eventChildrenPartial: eventChildrenPartial, visibleTags: visibleTags}) %>
	
	<% if( isAdmin() ) { %>
	<!-- ADMIN -->
	<div class="manage-bar row">
	  <ul class="nav">
		<% list(projects, function( project ) { %>
		<li data-tag="<%= project.attr('name') %>" class="tag-action present_remove"><a href="#" ><small><%= project.attr('name') %></small></a></li>
		<% }) %>
		<li class="dropdown">
		  <a class="dropdown-toggle" data-toggle="dropdown" href="#"><small><%= event.attr('category') %></small><b class="caret"></b></a>
		  <ul class="dropdown-menu">
			<% list(categories, function( category ) { %>
			<li class="category-action" data-category="<%= category.attr('name') %>"><a href="#"><%= category.attr('name') %></a></li>
			<% }) %>
		  </ul>
		</li>
	  </ul>
	  <input type="text" class="transfer-ownership typeahead" placeholder="Transfer ownership">
	</div>
	<!-- /ADMIN -->
	<% } %>

	<% if (event.attr('children').length) { %>
		<%== eventChildrenPartial.render({events: sortChildren(event.attr('children'), orderChildrenBy, 'desc')}) %>
    <% } %>

  </div>

  
  <div class="clearfix"></div>
</div>


