<% list( event.attr('children'), function( event ) { %>

<div class="event list-element commit" <%= (el) -> el.data('eventObj', event)  %> >  
  
  <!-- upvotes -->
  <div class="span1 votes">
	<div class="uparrow"></div>
	<div class="count">
	  <%= event.attr('upvotes') %>
	</div>
	<div class="clearfix"></div>
  </div>

  <!-- content -->
  <div class="span7 content">

	<div class="row">
	  <h5 class="title">
		<a href="<%= event.attr('url') %>">- <%= event.attr('source_data.sha').substring(0, 6) %> <%== event.attr('title') %></a>
	  </h5>

	  <div class="metadata-container pull-right">
		<div class="event-metadata pull-right">
		  <small>
			<%== formatTs( event, date ) %>
			via <strong><a href="<%= event.attr('url') %>"><%= event.attr('feed') %></a></strong></small>
		</div>
	  </div>

	  <div class="clearfix"></div>	  
	</div>

  </div>

  <div class="clearfix"></div>
</div>

<% }) %>
