<div class="event list-element" <%= (el) -> el.data('eventObj', event)  %> >

  <%== partials.toolbar.render({user: data.user}) %>
  
  <%== partials.upvote.render({event: event, user: data.user}) %>

  <!-- content -->
  <div class="span7 content">

	<div class="row">
	  <% if (event.attr('image_url')) { %>
	  <img class="thumb" <%= event.attr('image_url') ? "src='" + event.attr('image_url') + "'" : "" %> alt="Thumb" />
	  <% } %>
	  <h5 class="title"><%== eventUrl( event ) %></h5>
	  <div class="location-time"><%= event.attr('props.location') %> / <%= prettifyTs(event.attr('props.scheduled_for'), 'datetime') %></div>
	  <div class="body"><%== event.attr('body') %></div>
	  <div class="clearfix"></div>	  
	</div>

	<!-- status -->
	<div class="status row">
	  <div class="metadata-container pull-right">
		<div class="event-metadata pull-right">
		  <small>
			<% if( getAuthorName( event ) ) { %><%== getAuthorName( event ) %> /<% } %>
			<%== prettifyTs( event.attr('origin_ts'), 'datetime' ) %>
			via <strong><a href="<%= event.attr('url') %>"><%= event.attr('feed') %></a></strong></small>
		</div>
	  </div>

	  <ul class="tag-list nav">
		<%== renderEventTags( event, data.visibleTags ) %>
	  </ul>

	  <% if( data.user.isAdmin() ) { %>
	  <!-- ADMIN -->
	  <a href="#" class="expand-manage-bar"></a>	  
	  <!-- /ADMIN -->
	  <% } %>

	  <div class="clearfix"></div>
	</div>

	<%== partials.manageBar.render({event: event, data: data}) %>

  </div>
  
  <div class="clearfix"></div>
</div>


