<div>
	<%== each(latestEvents.attr('days'), function(day){ %>
		<div class="day">
			<div class="sep-wrapper wrapper" style="height: 42px;">
				<div class="sep blue">
					<h4 class="flag blue"><%== prettifyTs(day.date, "date") %></h4>
				</div>
			</div>


			<div class="category-digest">
				<div class="truncated">
					<% if( day.hasDigest() ) { %>
						<%== digestPartial.render({ digest: day.digest(), dict : digestDict }) %>
					<% } %>
				</div>
			</div>


			<% list(latestCategories, function( category ) { %>
				<% if ( day.attr('types.' + category) ) { %>
				<div class="category-<%= category %>">
					<% if ( !hasCategoryFilter() ) { %><h3 class="section-title"><i class="icon-<%= category %>"></i><%= category %></h3><% } %>
					<div class="truncated">
						<%== each( day.attr('types.' + category), function( event ) { %>
						    <%== determineEventPartial(event.attr('tags')).render({event: event, eventChildrenPartial: eventChildrenPartial, eventChildEventPartial: eventChildEventPartial, projects: projects, categories: categories, visibleTags: visibleTags, orderChildrenBy: 'origin_ts', date: day.attr('date')}) %>
						<% }) %>
					</div>
				</div>
				<% } %>
			<% }) %>

			
			<% if ( !!day.attr('types.code') ) { %>
			<div class="category-code">
			  <h3 class="section-title"><i class="icon-code"></i>Code</h3>
			  <%== codePartial.render( can.extend({ codeEvents: day.code(), day: day }, this) ) %>
			</div>
			<% } %>


			<% if( day.attr('types.chat') ) { %>
			<div class="feed-header">
				<h3 class="section-title"><i class="icon-chat"></i>Chat <a class="breakout" href="http://webchat.freenode.net/?channels=canjs"><i class="icon-breakout"></i></a></h3>
			</div>
			<div class="truncated irc-chat-container" <%= applyChatHeight(day) %>>
				<%== each(day.attr('types.chat'), function(event){ %>
					<div class="message">
						<span class="username">
							<%== event.attr('actor') %>
						</span>:
						<%= event.attr('title') %>
					</div>
				<% }) %>
			</div>
			<% } %>


		</div>
	<% }) %>
</div>


