<li><a class="disabled">Filter:</a></li>
<li><a href="<%= itemUrl(defaultOption) %>" class="item default <%= isSelected(defaultOption) %>"><%= defaultOption.attr('display_name') %></a></li>	

<% can.each(items, function(item, idx) { %>
<% if (idx < breakIdx) { %>
<li><a href="<%= itemUrl(item) %>" <%= (el) -> can.data(el, 'item', item) %> class="item <%= isSelected(item) %>"><%= item.display_name %></a></li>	
<% } %>
<% }) %>

<li class="dropdown">
  <a href="javascript://" class="dropdown-toggle" data-toggle="dropdown"> More <b class="caret"></b> </a>
  <ul class="dropdown-menu">	
	<% can.each(items, function(item, idx) { %>
	<% if (idx >= breakIdx) { %>
	<li><a href="<%= itemUrl(item) %>" class="item"><%= item.display_name %></a></li>	
	<% } %>
	<% }) %>
  </ul>
</li>
